.container {
	position: relative;
	font-family: Roboto;
}

.search a:link, .search a:visited, .links a:link, .links a:visited {
	text-decoration: none;
	color: rgb(26, 13, 171);
}

.search a:hover, .links a:hover {
	text-decoration: underline;
	color: rgb(26, 13, 171);
}

a:link, a:visited{
	text-decoration: none;
	color: grey;
}

a:hover {
	text-decoration: none;
	color: black;
}


/* Top Bar */

.top-bar{
	position:relative;
	background-color: rgb(250, 250, 250);
	padding: 20px 20px 0 20px;
}


.logo1{
	display: inline-block;
	width: 120px; height: 44px;
	margin-top: 5px;
}


input[type=search] {
	display: inline-block;
	position: absolute;
	top: 20px;
	left: 160px;
  	width: 600px; height: 45px;
  	padding-left: 10px;

	box-shadow: 0.1px 1px 2px grey;
	border: 1px solid #dad8d8;
	border-radius: 0;
	font-size: 100%;
}

::placeholder{
	color:black;
}

.top-bar-up-left{
	position: absolute;
	top: 20px;
	right: 60px;
	width: 200px; height: 40px;
	text-align: right;
}

.image-div{
	display: inline-block;
	width: 30px;
	margin-right: 8px;
}

.nine-squares{
	width: 15px; height: 15px;
	padding: auto 0;
}

.ring{
	width: 20px; height: 20px;
	padding: auto 0;
}

.mini-logo {
	width: 30px; height: 30px;
	padding-top:5px;
	margin-left:2px;
}

.top-bar-down {
	position: relative;
	bottom:10px;
	padding-left: 140px;
	height:40px;
}

.list-container {
	position: relative;
	width: 600px;
	font-size: 13px;
	padding: 8.5px 0 0 0;
}

.list {
	display: inline-block;
	margin: 3px 7.5px 3px 7.5px;
	height:20px; width:50px;
	text-align: center;
}

.list2 {
	display: inline-block;
	position:absolute;
	right:0;
	margin: 3px 0 3px 0px;
	height:20px; width:50px;
}

.list3 {
	display: inline-block;
	position:absolute;
	right: 70px;
	margin: 3px 7.5px 3px 7.5px;
	height:20px; width:50px;
}

.im-blue{
	display:inline-block;
	height:40px;
	border-bottom: 1px solid blue;
}


/* Mid section */

.searches {
	background-color: white;
}

.mid-section{
	padding-left: 183px;
	font-family: Roboto;
}

.search-info{
	box-sizing: border-box;
	padding-top: 15px;
	height:43px;
	color:grey;
	font-size: 13px;
}

.search {
	box-sizing: border-box;
	padding-top: 10px;
	margin-bottom: 26px;
	width:632px;
	line-height: 18px
}

.search-title, .search-title2 {
	color: rgb(26, 13, 171);
	font-size: 18px;
}

.search-list {
	padding-left: 40px;
	padding-top: 5px;
}

.search-title2 {
	display: inline-block;
	font-size: 13px;
}

.search-link {
	margin-top: 1px;
	color: rgb(0, 102, 33);
	font-size: 14px;
}

.search-text {
	margin-top: 1px;
	color: rgb(84, 84, 84);
	font-size: 13px;
}

.related h3 {
	color: rgb(34, 34, 34);
	font-size: 18px;
}

/* Bottom Bar */

.bottom-bar {
	box-sizing: border-box;
	position: relative;
	bottom: 0;
	width: 100%; height: 82px;
	background-color: rgb(250, 250, 250);
	color:grey;
	font-size: 13px;
	font-family: Roboto;
}

.bottom-bar-up{
	box-sizing: border-box;
	width: 100%; height: 42px;
	padding-left: 185px;
	border-top: 1px solid rgb(228, 228, 228);
	border-bottom: 1px solid rgb(228, 228, 228);
}
.bottom-bar-down{
	box-sizing: border-box;
	width: 100%; height: 40px;
	padding-left: 185px;
}

.bottom-text, .bottom2-text {
	box-sizing: border-box;
	display: inline-block;
	margin-right: 27px;
	padding-top:13px;
}

.bottom-text{
	height:42px;
}

.bottom2-text{
	height:40px;
}

.links {
	margin:15px 0;
	line-height: 20px;
	font-size:14px;
	color: rgb(26, 13, 171);
	font-weight: bold;
}
.left-column,.right-column {
	display: inline-block;
} 

.right-column{
	margin-left: 50px;
}